/*
$color-lightest: #FBF8F3;
$color-darkest: #271511;
$color-main-accent: #EC0042;
$color-secondary-accent: #741A1A;
$color-tertiary-accent: #D6A68F;
*/

$color-lightest: #fff9e4; //#F8F1D4;
$color-darkest: #17282F;
$color-main-accent: #00494D; //#3c8589; //#609a9d; //#4D8687;
$color-secondary-accent: #F39C12; //#e58421; //#f4a453; //#F19441;
$color-tertiary-accent: #b2b8ac;//#abb7b7;//#FD2E36;
